@model PCOMS.Application.DTOs.CreateProjectDto

<h2>Create Project</h2>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="ClientId" />

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button class="btn btn-success">Save</button>

    <a asp-action="Client"
       asp-route-id="@Model.ClientId"
       class="btn btn-secondary ms-2">
        Cancel
    </a>
    <div class="mb-3">
        <label>Hourly Rate</label>
        <input asp-for="HourlyRate" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="HourlyRate"></label>
        <input asp-for="HourlyRate" class="form-control" />
    </div>

</form>
